xmlmodule/src/main/resources/schemas/myschema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="city"/>
        <xs:element type="xs:byte" name="age"/>
        <xs:element type="xs:string" name="profession"/>
        <xs:element type="xs:string" name="dob"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>